/********************* COMMON **********************/

.deb {
  border: 2px dashed black;
}
/********************* HEADER **********************/
header {
  height: 4.3rem;
}
/********************** NAV ***********************/
.nav-container {
  width: 8rem;
  height: calc(100vh - 4.3rem);
}

nav {
  background-image: url(../img/sidebar-bg.png);
  background-color: #051e34;
  height: 100%;
}

ul {
  list-style: none;
}

nav i {
  width: 1rem;
  color: white;
}

.main-container {
  width: calc(100% - 8rem);
  height: calc(100vh - 4.3rem);
  overflow: auto;
}

.main-top .badge {
  background-color: #165bba;
}

table img {
  width: 2rem;
}

table td {
  text-align: center;
}

table i {
  opacity: 0.7;
}

.my-w {
  width: 2.2rem;
}
/********************* FOOTER **********************/
