/********************* COMMON **********************/
.my-w {
  width: 2.2rem;
}

.my-bg {
  background-color: #e9ecef;
}

/********************* HEADER **********************/
header {
  height: 4.3rem;
}

.fa-bell {
  color: #ff8f00;
}
/********************** NAV ***********************/
.nav-container {
  width: 8rem;
  height: calc(100vh - 4.3rem);
}

nav {
  background-image: url(../img/sidebar-bg.png);
  background-color: #051e34;
  height: 100%;
}

.nav-top li:hover {
  background-color: rgba(255, 255, 255, 0.505);
}

nav i {
  width: 1rem;
  color: white;
}

ul {
  list-style: none;
}

/********************* MAIN **********************/
.main-container {
  width: calc(100% - 8rem);
  height: calc(100vh - 4.3rem);
  overflow: auto;
}

.main-top .badge {
  background-color: #165bba;
}

/* TABLE */
table img {
  width: 2rem;
}

table td {
  text-align: center;
}

table i {
  opacity: 0.7;
}

/********************* RESPONSIVE **********************/
@media screen and (max-width: 767px) {
  .nav-container {
    width: 3.6rem;
  }

  .main-container {
    width: calc(100% - 3.6rem);
  }
}
